<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../favicon-dc.ico" />
    <title>Glitch 27</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <style type="text/css">
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
      .example-questions {
        height: 150px;
        width: 400px;
        overflow: auto;
        border: 1px dashed black;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <span class="navbar-brand" href="#">Speech Development tools 2023.2 <small>(index.html)</small></span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="http://example.com"
              id="dropdown01"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <!-- /nav -->
    <main role="main" class="container">
      <!-- Commands -->
      <div id="two" class="split split-horizontal">
        <span class="badge badge-secondary">date io</span>
        <span id="date">Date</span><br />
        <span class="badge badge-secondary">info io</span>
        <span id="info"></span> <br />
        <span class="badge badge-secondary">example-questions</span>
        <ul class="example-questions"></ul>
        <!-- LIGTH BUTTON -->
        <button id="bt1" type="button" class="btn btn-light">Light 1</button>
        <button id="bt2" type="button" class="btn btn-light">Light 2</button>
        <button id="bt3" type="button" class="btn btn-light">Light 3</button>
        <button id="bt4" type="button" class="btn btn-light">CallMAKE</button>
        <p>
          "https://hook.eu1.make.com/rx3xmx3egq5vatqy7jpwoxcpt2tbqrol?MAKE=By
          MOI"
        </p>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>

    <!-- -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.17.1/moment-with-locales.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>

    <script>
      "use strict";

      console.clear();
      const log = console.log;

      $(window).on("load", function () {
        log(`Load now`); // viens apprès $(document).ready( ...
      });
      $(document).ready(function () {
        log(`Version: ${$.fn.jquery}`);

        // $("p.mb-0").html("This GitHub Wiki page explains various ways of passing EJS options to Express.");
      });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      // principal

      var socket = io.connect("/");

      socket.on("date", function (data) {
        $("#date").text(data.date);
        //display(data.date)
      });

      function display(data) {
        $(".example-questions").append(`<li>${data}</li>`);
        $(".example-questions").scrollTop(
          $(".example-questions")[0].scrollHeight
        );
      }

      socket.on("announcements", function (data) {
        console.log("== announcements ==");

        $("#info").text(data.message);
        display(data.message);
      });

      socket.on("message-backend", function (data) {
        console.log("message-backend");
        $("#info").text(data);
        display(data);
      });

      // light 1, 2, 3
      socket.on("info", function (data) {
        $("#info").text("data.data");

        //display(`${data.info}-${$("#date").text()}`);
      });

      /* $(".example-questions").append(
          `<li>${data.info}-${$("#date").text()}</li>`
        );  */
      socket.on("speech-log", function (data) {
        //$(".example-questions").append("*****") //`<li>${data}</li>`)
        console.log("**speech-log**", data);
      });

      // LIGHT 1
      $("#bt1").click(function () {
        event.preventDefault();
        // send a POST request (local)
        axios
          .post("/api/v1/", {
            intent: "MORNING:",
            sentence: "Good morning",
          })
          .then(
            (response) => {
              console.log(response);
            },
            (error) => {
              console.log(error);
            }
          );
      });

      // LIGHT 2
      $("#bt2").click(function () {
        event.preventDefault();
        // send a POST request
        axios
          .post("/api/v1/", {
            intent: "expresso",
            sentence: "Make a Cafe",
          })
          .then(
            (response) => {
              console.log(response);
            },
            (error) => {
              console.log(error);
            }
          );
      });

      // LIGHT 3
      $("#bt3").click(function () {
        event.preventDefault();
        // send a POST request
        axios
          .post("/api/v1/", {
            intent: "play",
            sentence: "je ne joue pas!",
          })
          .then(
            (response) => {
              console.log(response);
            },
            (error) => {
              console.log(error);
            }
          );
      });

      // CallMAKE
      $("#bt4").click(function () {
        event.preventDefault();
        // send a POST request
        axios
          .get(
            "https://hook.eu1.make.com/rx3xmx3egq5vatqy7jpwoxcpt2tbqrol?MAKE=By MOI",
            {}
          )
          .then(
            (response) => {
              console.log(response);
            },
            (error) => {
              console.log(error);
            }
          );
      });

      const start = async () => {
        console.log("°°°°°°°°°°°°°°°°°----°°°°°°°°°°°°°°°°°°°°°°°°°");
        const response = await fetch("http://127.0.0.1:5000"); // get temp session token from server.js (backend)
        const data = await response.json();
        const { token } = data;
        console.log("++++++++++++++++++++++++++++++++++++++++++++");
        console.log(data);
      };

      /*
       $("#bt4").click(function () {
          event.preventDefault();  
          console.log("°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°");
          //start();
       };
*/
      /*    window.addEventListener("keydown", (event) => {
            if (event.key == "v") {
              document.body.style.background = "violet";
            }
          });
          window.addEventListener("keyup", (event) => {
            if (event.key == "v") {
              document.body.style.background = "";
            }
          });*/
    </script>

    <script>
      /*  let bar = document.querySelector("div");
      bar.addEventListener("mousedown", (event) => {
        console.log("<-", event);
        if (event.button == 0) {
          event.preventDefault(); // Prevent selection
        }
      });*/
    </script>
    <script>
      /*
      function notifyMe(user, message) {
        // Let's check if the browser supports notifications
        if (!("Notification" in window)) {
          alert("This browser does not support desktop notification");
        }
        // Let's check if the user is okay to get some notification
        else if (Notification.permission === "granted") {
          // If it's okay let's create a notification
          var options = {
            body: user + "Posted a comment" + message,
            dir: "ltr",
          };
          var notification = new Notification("Hi there", options);
        }
        // Otherwise, we need to ask the user for permission
        // Note, Chrome does not implement the permission static property
        // So we have to check for NOT 'denied' instead of 'default'
        else if (Notification.permission !== "denied") {
          Notification.requestPermission(function (permission) {
            // Whatever the user answers, we make sure we store the information
            if (!("permission" in Notification)) {
              Notification.permission = permission;
            }
            // If the user is okay, let's create a notification
            if (permission === "granted") {
              var options = {
                body: user + "Posted a comment" + message,
                dir: "ltr",
              };
              var notification = new Notification(
                "New comment added.",
                options
              );
            }
          });
        }
        // At last, if the user already denied any notification, and you
        // want to be respectful there is no need to bother them any more.
      }

      notifyMe('user', 'message');*/
    </script>
  </body>
</html>
